@font-face {
	font-family: 'Kelvingrove-Regular';
	src: url('./fonts/kelvingrove-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/kelvingrove-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/kelvingrove-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/kelvingrove-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/kelvingrove-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/kelvingrove-regular.svg#kelvingrove-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}